In [209]:
import pandas as pd
import numpy as np

In [133]:
df = pd.read_csv('world-happiness-report-2005-2018.csv', sep=';')

In [134]:
df

,Country name,Year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,...,GINI index (World Bank estimate),"GINI index (World Bank estimate), average 2000-16","gini of household income reported in Gallup, by wp5-year","Most people can be trusted, Gallup","Most people can be trusted, WVS round 1981-1984","Most people can be trusted, WVS round 1989-1993","Most people can be trusted, WVS round 1994-1998","Most people can be trusted, WVS round 1999-2004","Most people can be trusted, WVS round 2005-2009","Most people can be trusted, WVS round 2010-2014"
0,Afghanistan,2008,3.723590,7.168690,0.450662,50.799999,0.718114,0.177889,0.881686,0.517637,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,2009,4.401778,7.333790,0.552308,51.200001,0.678896,0.200178,0.850035,0.583926,...,NaN,NaN,0.441906,0.286315,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2010,4.758381,7.386629,0.539075,51.599998,0.600127,0.134353,0.706766,0.618265,...,NaN,NaN,0.327318,0.275833,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2011,3.831719,7.415019,0.521104,51.919998,0.495901,0.172137,0.731109,0.611387,...,NaN,NaN,0.336764,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2012,3.782938,7.517126,0.520637,52.240002,0.530935,0.244273,0.775620,0.710385,...,NaN,NaN,0.344540,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1699,Zimbabwe,2014,4.184451,7.562753,0.765839,52.380001,0.642034,-0.048634,0.820217,0.725214,...,NaN,0.432,0.601080,NaN,NaN,NaN,NaN,0.116683,NaN,0.082942
1700,Zimbabwe,2015,3.703191,7.556052,0.735800,53.799999,0.667193,-0.097354,0.810457,0.715079,...,NaN,0.432,0.655137,NaN,NaN,NaN,NaN,0.116683,NaN,0.082942
1701,Zimbabwe,2016,3.735400,7.538829,0.768425,54.400002,0.732971,-0.068105,0.723612,0.737636,...,NaN,0.432,0.596690,NaN,NaN,NaN,NaN,0.116683,NaN,0.082942
1702,Zimbabwe,2017,3.638300,7.549491,0.754147,55.000000,0.752826,-0.069670,0.751208,0.806428,...,NaN,0.432,0.581484,NaN,NaN,NaN,NaN,0.116683,NaN,0.082942
1703,Zimbabwe,2018,3.616480,7.553395,0.775388,55.599998,0.762675,-0.038384,0.844209,0.710119,...,NaN,0.432,0.541772,NaN,NaN,NaN,NaN,0.116683,NaN,0.082942

In [135]:
df = df[df['Year'] <= 2016]

In [136]:
Most = [var for var in df if 'Most' in var]
Most

['Most people can be trusted, Gallup',
 'Most people can be trusted, WVS round 1981-1984',
 'Most people can be trusted, WVS round 1989-1993',
 'Most people can be trusted, WVS round 1994-1998',
 'Most people can be trusted, WVS round 1999-2004',
 'Most people can be trusted, WVS round 2005-2009',
 'Most people can be trusted, WVS round 2010-2014']

In [137]:
df = df.drop(Most, axis=1)

In [138]:
Gini = [var for var in df if 'GINI' in var]
Gini

['GINI index (World Bank estimate)',
 'GINI index (World Bank estimate), average 2000-16']

In [139]:
df = df.drop(Gini, axis=1)

In [140]:
gini = [var for var in df if 'gini' in var]
gini

['gini of household income reported in Gallup, by wp5-year']

In [141]:
df = df.drop(gini, axis=1)

In [142]:
df.columns

Index(['Country name', 'Year', 'Life Ladder', 'Log GDP per capita',
       'Social support', 'Healthy life expectancy at birth',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Positive affect', 'Negative affect',
       'Confidence in national government', 'Democratic Quality',
       'Delivery Quality', 'Standard deviation of ladder by country-year',
       'Standard deviation/Mean of ladder by country-year'],
      dtype='object')

In [143]:
df = df.rename(columns = {'Life Ladder':'Happy_index'})

In [144]:
df

,Country name,Year,Happy_index,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,Confidence in national government,Democratic Quality,Delivery Quality,Standard deviation of ladder by country-year,Standard deviation/Mean of ladder by country-year
0,Afghanistan,2008,3.723590,7.168690,0.450662,50.799999,0.718114,0.177889,0.881686,0.517637,0.258195,0.612072,-1.929690,-1.655084,1.774662,0.476600
1,Afghanistan,2009,4.401778,7.333790,0.552308,51.200001,0.678896,0.200178,0.850035,0.583926,0.237092,0.611545,-2.044093,-1.635025,1.722688,0.391362
2,Afghanistan,2010,4.758381,7.386629,0.539075,51.599998,0.600127,0.134353,0.706766,0.618265,0.275324,0.299357,-1.991810,-1.617176,1.878622,0.394803
3,Afghanistan,2011,3.831719,7.415019,0.521104,51.919998,0.495901,0.172137,0.731109,0.611387,0.267175,0.307386,-1.919018,-1.616221,1.785360,0.465942
4,Afghanistan,2012,3.782938,7.517126,0.520637,52.240002,0.530935,0.244273,0.775620,0.710385,0.267919,0.435440,-1.842996,-1.404078,1.798283,0.475367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1697,Zimbabwe,2012,4.955101,7.534424,0.896476,49.540001,0.469531,-0.075712,0.858691,0.669279,0.177311,0.407084,-1.125315,-1.555728,1.853195,0.373997
1698,Zimbabwe,2013,4.690188,7.565154,0.799274,50.959999,0.575884,-0.079458,0.830937,0.711885,0.182288,0.527755,-1.026085,-1.526321,1.964805,0.418918
1699,Zimbabwe,2014,4.184451,7.562753,0.765839,52.380001,0.642034,-0.048634,0.820217,0.725214,0.239111,0.566209,-0.985267,-1.484067,2.079248,0.496899
1700,Zimbabwe,2015,3.703191,7.556052,0.735800,53.799999,0.667193,-0.097354,0.810457,0.715079,0.178861,0.590012,-0.893078,-1.357514,2.198865,0.593776
1701,Zimbabwe,2016,3.735400,7.538829,0.768425,54.400002,0.732971,-0.068105,0.723612,0.737636,0.208555,0.699344,-0.900649,-1.374650,2.776363,0.743257

In [145]:
df1 = pd.read_csv('IHME-GBD_2017_DATA-f57da2bf-1.csv')

In [146]:
df1 = df1.rename(columns = {'location_name':'Country name'})

In [147]:
df1 = df1.sort_values(by = ['Country name', 'year'])

In [148]:
df1 = df1.drop('measure_id', axis=1)
df1 = df1.drop('sex_id', axis=1)
df1 = df1.drop('age_id', axis=1)
df1 = df1.drop('metric_id', axis=1)

In [149]:
df1

,measure_name,location_id,Country name,sex_name,age_name,cause_id,cause_name,metric_name,year,val,upper,lower
517,Deaths,160,Afghanistan,Both,All Ages,718,Self-harm,Rate,2005,6.008133,9.447315,4.613968
1139,Deaths,160,Afghanistan,Both,All Ages,718,Self-harm,Rate,2006,5.924669,9.415016,4.526256
1893,Deaths,160,Afghanistan,Both,All Ages,718,Self-harm,Rate,2007,5.837530,9.292172,4.465918
123,Deaths,160,Afghanistan,Both,All Ages,718,Self-harm,Rate,2008,5.733769,9.293433,4.377371
757,Deaths,160,Afghanistan,Both,All Ages,718,Self-harm,Rate,2009,5.630672,9.222163,4.278532
...,...,...,...,...,...,...,...,...,...,...,...,...
1002,Deaths,198,Zimbabwe,Both,All Ages,718,Self-harm,Rate,2012,19.322124,23.090243,15.513093
1526,Deaths,198,Zimbabwe,Both,All Ages,718,Self-harm,Rate,2013,18.750438,22.330251,15.332541
2272,Deaths,198,Zimbabwe,Both,All Ages,718,Self-harm,Rate,2014,18.357755,21.811936,15.097924
433,Deaths,198,Zimbabwe,Both,All Ages,718,Self-harm,Rate,2015,18.222157,21.685420,14.923782
1439,Deaths,198,Zimbabwe,Both,All Ages,718,Self-harm,Rate,2016,18.135816,21.527506,14.801482

In [150]:
len(df)

1421

In [151]:
len(df1)

2340

In [197]:
df3 = pd.read_csv('UNdata_Export_20200222_205914330.csv')

In [198]:
df3 = df3.dropna()

In [199]:
df3 = df3.drop('Area', axis=1)
df3 = df3.drop('Sex', axis=1)
df3 = df3.drop('Record Type', axis=1)
df3 = df3.drop('Reliability', axis=1)
df3 = df3.drop('Source Year', axis=1)
df3 = df3.drop('Value Footnotes', axis = 1)

In [200]:
df3

     Country or Area  Year      Age    Literacy         Value
51           Algeria  2008  10 - 14       Total  3.258749e+06
52           Algeria  2008  10 - 14    Literate  3.147278e+06
53           Algeria  2008  10 - 14  Illiterate  1.022944e+05
54           Algeria  2008  10 - 14     Unknown  9.177051e+03
55           Algeria  2008     10 +       Total  2.778652e+07
...              ...   ...      ...         ...           ...
5739         Uruguay  2011  95 - 99     Unknown  6.150000e+02
5740         Uruguay  2011    100 +       Total  5.190000e+02
5741         Uruguay  2011    100 +    Literate  3.670000e+02
5742         Uruguay  2011    100 +  Illiterate  5.800000e+01
5743         Uruguay  2011    100 +     Unknown  9.400000e+01

[1209 rows x 5 columns]

In [207]:
total = (df3.loc[df3.Literacy == 'Total', 'Value'])
Num = (df3.loc[df3.Literacy == 'Literate', 'Value'])
print (len(total))
print (len(Num))

328
328

In [208]:
Num/total

51     NaN
52     NaN
55     NaN
56     NaN
59     NaN
        ..
5733   NaN
5736   NaN
5737   NaN
5740   NaN
5741   NaN
Name: Value, Length: 656, dtype: float64

In [202]:
#literacy rate = literate/(literate + illiterate)#
df3.dtypes

Country or Area     object
Year                object
Age                 object
Literacy            object
Value              float64
dtype: object